* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
}

.seccion-welcome {
  font-family: "Raleway", sans-serif;
  /* background: linear-gradient(to bottom, #3C096C, #EDF6F9); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom,
      rgba(60, 9, 108, 0.544),
      rgba(255, 255, 255, 0.564)), 
      url("../img/women.jpg");
      /* url("../img/black.jpg"); */
      /* url("../img/flowers.jpg"); */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.welcome__efm {
  font-size: 48px;
  color: #3C096C;
  margin-top: 0;
  text-align: center;
}

.welcome__cordoba {
  font-size: 48px;
  color: #3C096C;
  text-align: center;
}

.seccion-presentacion {
  background-color: #3C096C;
  color: #EDF6F9;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

@media (max-width: 900px) {
  .seccion-presentacion {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .presentacion__texto {
    flex-grow: 1;
    max-width: 890px;
  }
}

.presentacion__texto__soy-daniela {
  font-size: 32px;
}

.presentacion__texto__sobre-mi {
  font-size: 18px;
}

.presentacion__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentacion__img {
  height: 400px;

  width: auto;
}

.seccion-servicios {
  background-color: #EDF6F9;
  color: #3C096C;
  padding-top: 75px;
  padding-bottom: 30px;
}

@media (min-width: 796px) {
  .seccion-servicios {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.servicios__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}

.servicios__container {
  padding: 40px;
  display: grid;
  gap: 30px;
}

@media (min-width: 796px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1099px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.servicios__container__uno {
  padding: 20px;

  border-radius: 4px;
}

.servicio {}

.servicios__container__imagen-servicio {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagen-servicio {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.titulo-servicio {
  font-size: 24px;
  text-align: center;
}

.descripcion-servicio {
  font-size: 18px;
  text-align: center;
}


/* WAVES */


.hero-waves1 {
  display: block;
  /* margin-top: 60px; */
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
  background-color: #EDF6F9;
}

.hero-waves2 {
  display: block;
  /* margin-top: 60px; */
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
  background-color: #3C096C;
}

.hero-waves3 {
  display: block;
  /* margin-top: 60px; */
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
  background-color: #EDF6F9;
}

.hero-waves4 {
  display: block;
  /* margin-top: 60px; */
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
  background-color: #d6814a;
}


.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}


/* TEXTO */

.febrero {
  text-align: end
}

/* seccion-welcome */